---
layout: default
---
<header class="masthead">
  <h1 class="masthead-title--small">
    <a href="{{ site.baseurl }}/">{{ site.name }}</a>
  </h1>
</header>
<div class="content post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-date">
    <time>{{ page.date | date_to_string }}</time>
  </div>
  <div style="margin: 1em;">
    My blog content has been moved away from github.com to my own yepoleb.at domain.<br>
    You can find the new content at <a href="https://yepoleb.at/blog">https://yepoleb.at/blog</a>
  </div>
  {{ content }}
</div>
